# ============ Python =============
__pycache__/
*.py[cod]
*.so
*.pyd

# ============ Jupyter Notebook ============
.ipynb_checkpoints/

# ============ Model Files ============
*.pkl
*.joblib
*.h5
*.sav

# ============ Dataset Files ============
*.csv
*.tsv
*.xls
*.xlsx
*.npy

# ============ Environment Config ============
.env
.env.*

# ============ VSCode & IDEs ============
.vscode/
.idea/

# ============ OS Files ============
.DS_Store
Thumbs.db

# ============ Logs & Others ============
*.log
*.zip